In [1]:
#time series basics

In [2]:
from datetime import datetime

In [3]:
dates = [datetime(2011,1,2),
         datetime(2011,1,5),
         datetime(2011,1,7),
         datetime(2011,1,8),
         datetime(2011,1,10),
         datetime(2011,1,12)]

In [4]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
ts=pd.Series(np.random.randn(6), index=dates)

In [8]:
ts

2011-01-02    0.362496
2011-01-05    0.651818
2011-01-07    1.773695
2011-01-08    0.401638
2011-01-10   -0.892335
2011-01-12    0.930897
dtype: float64

In [9]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [10]:
ts[::2]

2011-01-02    0.362496
2011-01-07    1.773695
2011-01-10   -0.892335
dtype: float64

In [11]:
ts+ts[::2]

2011-01-02    0.724991
2011-01-05         NaN
2011-01-07    3.547390
2011-01-08         NaN
2011-01-10   -1.784669
2011-01-12         NaN
dtype: float64

In [33]:
ts.index.dtype

dtype('<M8[ns]')

In [34]:
stamp = ts.index[0]

In [35]:
stamp

Timestamp('2011-01-02 00:00:00')

In [36]:
ts[stamp]

-1.0892285279718854

In [37]:
ts['1/10/2011']

-1.601344701145816

In [38]:
ts['20110110']

-1.601344701145816

In [39]:
ts['2011-01-10']

-1.601344701145816

In [40]:
#using longer time series

In [43]:
longer_ts=pd.Series(np.random.randn(1000),
                    index=pd.date_range('1/1/2000', periods=1000))

In [44]:
longer_ts

2000-01-01   -0.768631
2000-01-02    0.355938
2000-01-03   -0.669252
2000-01-04    1.742110
2000-01-05   -1.229541
                ...
2002-09-22   -0.212726
2002-09-23    0.158312
2002-09-24    0.997970
2002-09-25    1.269510
2002-09-26   -1.481231
Freq: D, Length: 1000, dtype: float64

In [45]:
longer_ts['2001']

2001-01-01   -0.121307
2001-01-02    0.449985
2001-01-03    0.385362
2001-01-04    0.533222
2001-01-05    2.829320
                ...
2001-12-27    0.030889
2001-12-28    0.637241
2001-12-29   -0.024935
2001-12-30    0.658948
2001-12-31   -0.589818
Freq: D, Length: 365, dtype: float64

In [46]:
longer_ts['2001-05']

2001-05-01    0.296694
2001-05-02    0.517640
2001-05-03   -1.225064
2001-05-04    1.461062
2001-05-05    0.303301
2001-05-06    1.054736
2001-05-07   -1.157373
2001-05-08   -0.952951
2001-05-09    0.734051
2001-05-10    0.483523
2001-05-11   -0.691273
2001-05-12    1.530010
2001-05-13    0.135636
2001-05-14   -0.229586
2001-05-15   -0.709258
2001-05-16   -1.265935
2001-05-17   -0.924623
2001-05-18   -0.425129
2001-05-19   -1.623125
2001-05-20    0.457896
2001-05-21   -0.405467
2001-05-22    1.400742
2001-05-23    1.006814
2001-05-24    1.536954
2001-05-25   -0.013838
2001-05-26   -0.966931
2001-05-27   -0.113917
2001-05-28    1.370152
2001-05-29   -1.643875
2001-05-30   -0.319767
2001-05-31   -0.944715
Freq: D, dtype: float64

In [47]:
#Slicing with datetime object works as well.

In [48]:
ts[datetime(2011,1,7)]

1.791460514364855

In [49]:
ts[datetime(2011,1,7):]

2011-01-07    1.791461
2011-01-08   -0.191983
2011-01-10   -1.601345
2011-01-12   -0.610898
dtype: float64

In [50]:
ts

2011-01-02   -1.089229
2011-01-05   -2.203034
2011-01-07    1.791461
2011-01-08   -0.191983
2011-01-10   -1.601345
2011-01-12   -0.610898
dtype: float64

In [51]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.791461
2011-01-08   -0.191983
2011-01-10   -1.601345
dtype: float64

In [54]:
dates = pd.date_range('1/1/2000', periods=100)

In [55]:
long_df=pd.DataFrame(np.random.randn(100,4),index=dates, columns=['Colorado','Texas','New York','Ohio'])

In [56]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-01 -1.449159  0.030833 -1.864267 -0.316663
2000-01-02 -0.139332  0.388371  0.230478  0.554769
2000-01-03 -0.530863 -0.624989 -0.758124 -1.693288
2000-01-04 -0.962769  1.464560 -1.293352 -1.047191
2000-01-05 -0.535023  1.583727 -0.402311  0.922838
...              ...       ...       ...       ...
2000-04-05  1.306562  0.212817 -1.454565  0.852410
2000-04-06 -0.278851  0.981491 -0.166636 -0.713043
2000-04-07 -0.726554 -0.478682 -0.810255  1.346999
2000-04-08  0.433878 -0.879041  0.878829 -1.859397
2000-04-09  0.453455 -1.110438 -0.494945  0.895958

[100 rows x 4 columns]

In [57]:
long_df.loc['3-2001']

KeyError: '5-2001'