In [1]:
#Quantile and bucket analysis

In [2]:
import pandas as pd

In [3]:
pd.cut?

In [4]:
a=[i for i in range(1,11)]

In [5]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
q= pd.cut(a,4)

In [7]:
q

[(0.991, 3.25], (0.991, 3.25], (0.991, 3.25], (3.25, 5.5], (3.25, 5.5], (5.5, 7.75], (5.5, 7.75], (7.75, 10.0], (7.75, 10.0], (7.75, 10.0]]
Categories (4, interval[float64]): [(0.991, 3.25] < (3.25, 5.5] < (5.5, 7.75] < (7.75, 10.0]]

In [8]:
a=[i for i in range(1,13)]

In [9]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [10]:
q=pd.cut(a,4)

In [11]:
q

[(0.989, 3.75], (0.989, 3.75], (0.989, 3.75], (3.75, 6.5], (3.75, 6.5], ..., (6.5, 9.25], (6.5, 9.25], (9.25, 12.0], (9.25, 12.0], (9.25, 12.0]]
Length: 12
Categories (4, interval[float64]): [(0.989, 3.75] < (3.75, 6.5] < (6.5, 9.25] < (9.25, 12.0]]

In [12]:
def get_stats(group):
    return {'min': group.min(),
            'max': group.max(),
           'count':group.count(),
           'mean':group.mean()
           }

In [16]:
import numpy as np
frame=pd.DataFrame({
    'data1':np.random.randn(1000),
    'data2':np.random.randn(1000)
})

In [17]:
frame

        data1     data2
0    0.259687  0.175887
1   -1.082057  2.235612
2    2.069687  0.244304
3   -0.375931  0.061430
4   -0.490958 -0.641644
..        ...       ...
995  1.893718  0.077132
996 -1.358124 -0.388344
997 -0.008600 -1.029496
998 -0.205740  1.358214
999  0.540340  0.669917

[1000 rows x 2 columns]

In [18]:
quartile = pd.cut(frame.data1,4)

In [19]:
grouped = frame.data2.groupby(quartile)

In [20]:
grouped.apply(get_stats)

data1
(-3.078, -1.352]  min       -2.310857
                  max        2.248097
                  count     95.000000
                  mean      -0.046465
(-1.352, 0.368]   min       -2.686549
                  max        3.446935
                  count    551.000000
                  mean       0.029482
(0.368, 2.087]    min       -2.952614
                  max        2.777421
                  count    333.000000
                  mean      -0.030315
(2.087, 3.807]    min       -2.285262
                  max        1.571326
                  count     21.000000
                  mean      -0.091979
Name: data2, dtype: float64

In [21]:
grouped.apply(get_stats).unstack()

                       min       max  count      mean
data1
(-3.078, -1.352] -2.310857  2.248097   95.0 -0.046465
(-1.352, 0.368]  -2.686549  3.446935  551.0  0.029482
(0.368, 2.087]   -2.952614  2.777421  333.0 -0.030315
(2.087, 3.807]   -2.285262  1.571326   21.0 -0.091979