In [1]:
import numpy as np, pandas as pd

In [2]:
s=pd.Series(np.random.randn(6))

In [3]:
s

0    0.895515
1    0.754821
2   -1.038047
3    0.936169
4    0.052409
5    1.204462
dtype: float64

In [4]:
s[::2]=np.nan

In [5]:
s

0         NaN
1    0.754821
2         NaN
3    0.936169
4         NaN
5    1.204462
dtype: float64

In [6]:
s.fillna(s.mean())

0    0.965150
1    0.754821
2    0.965150
3    0.936169
4    0.965150
5    1.204462
dtype: float64

In [7]:
states = ['Ohio', 'New York', 'Vermont', 'Florida', 'Oregon', 'Nevada', 'California', 'Idaho']

In [9]:
group_key = ['East']*4+ ['West']*4

In [10]:
group_key

['East', 'East', 'East', 'East', 'West', 'West', 'West', 'West']

In [12]:
data = pd.Series(np.random.randn(8), index=states)

In [13]:
data

Ohio         -1.019133
New York      2.585310
Vermont      -1.169266
Florida       2.268937
Oregon        0.723295
Nevada        1.441890
California   -1.880609
Idaho        -3.002006
dtype: float64

In [14]:
data[['Vermont','Nevada','Idaho']]=np.nan

In [15]:
data

Ohio         -1.019133
New York      2.585310
Vermont            NaN
Florida       2.268937
Oregon        0.723295
Nevada             NaN
California   -1.880609
Idaho              NaN
dtype: float64

In [17]:
data.groupby(group_key).mean()

East    1.278371
West   -0.578657
dtype: float64